body {
  margin: 0;
  padding: 0;
}

// Importing Colors //
$primary_color: #F39C57;
$secondary_color: #F5F9FF;
$base_color: #423C42;

$g-color1: #18459A;
$g-color2: $primary_color;
$gradient_color: linear-gradient(to right, $g-color1, $g-color2);

// Responsiveness //
$mobile: 600px;
$desktop: 960px;

// Importing Fonts //
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular") format("truetype");
}
  
@font-face {
    font-family: "Montserrat Medium";
    src: url("../assets/fonts/Montserrat-Medium") format("truetype");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat-Bold") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
// font-family: 'Montserrat', sans-serif; //

$primary_font: 'Montserrat';

h1, h2, h3, h4, h5, h6, a, p, div, img {
    font-family: $primary_font;
    color: $base_color;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: 4vw;

    @media screen and (max-width: $mobile) {
        font-size: 2rem;
    }
}

h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 3vw;
    
    @media screen and (max-width: $mobile) {
        font-size: 2rem;
    }
}

h3 {
    font-weight: 600;
    font-size: 2vw;

    > mo {
        display: none;
    }

    @media screen and (max-width: $mobile) {

        > de {
            display: none;
        }
        > mo {
            display: flex;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

h5 {
    font-weight: 400;
    font-size: 2vw;

    sb {
        font-weight: 600;
    }
    
    @media screen and (max-width: $mobile) {
        font-size: 1.25rem;
    }
}

p {
    font-weight: 400;
    font-size: 1.5vw;

    @media screen and (max-width: $mobile) {
        font-size: 1rem;
    }
}


