body {
  margin: 0;
  padding: 0;
}

// Importing Colors //
$primary_color: #BF6DFF;
$secondary_color: #0CCCFB;
$circle_color: #FFC1F1;
$base_color: black;
$gray_color: #7a7a7a;

$gradient_color: linear-gradient(to right, $primary_color, $secondary_color);
$circle_gradient: linear-gradient(to right, white, $circle_color);
$circle_gradient_left: linear-gradient(to left, white, $circle_color);

// Responsiveness //
$mobile: 600px;
$desktop: 960px;

// Importing Fonts //
@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular") format("truetype");
}
  
@font-face {
    font-family: "Montserrat Medium";
    src: url("../assets/fonts/Montserrat-Medium") format("truetype");
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../assets/fonts/Montserrat-SemiBold") format("truetype");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat-Bold") format("truetype");
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
// font-family: 'Montserrat', sans-serif; //

$primary_font: 'Montserrat';

h1, h2, h3, h4, h5, h6, a, p, div, img {
    font-family: $primary_font;
    margin: 0;
    padding: 0;
    position: relative;
}

h1 {
    font-weight: 700;
    font-size: 3.5rem;
    color: $primary_color;

    @media screen and (max-width: $desktop) {
        font-size: 3rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 2rem;
    }
}

h2 {
    font-weight: 400;
    font-style: italic;
    font-size: 3rem;
    
    @media screen and (max-width: $desktop) {
        font-size: 2.5rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 2rem;
    }
}

h3 {
    font-weight: 600;
    font-size: 2rem;

    > mo {
        display: none;
    }

    @media screen and (max-width: $desktop) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: $mobile) {

        > de {
            display: none;
        }
        > mo {
            display: flex;
            font-size: 2rem;
            font-weight: 700;
        }
    }
}

h5 {
    font-weight: 500;
    font-size: 2rem;

    sb {
        font-weight: 600;
    }
    @media screen and (max-width: $desktop) {
        font-size: 1.5rem;
    }
    @media screen and (max-width: $mobile) {
        font-size: 1.25rem;
    }
}

p {
    font-weight: 400;
    font-size: 1.25rem;

    @media screen and (max-width: $mobile) {
        font-size: 1rem;
    }
}


