@import '../../styles/base.scss';

.home {
    display: flex;
    flex-direction: column;
    z-index: 30;


    > .landing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 8vw;

        > img {
            width: 35vw;
            object-fit: contain;
        }
        > .container {
            display: flex;
            flex-direction: column;
            margin-left: 8vw;

            > h1 {
                margin-bottom: 2rem;
            }
            > h3 {
                margin-bottom: 1rem;
                color: $primary_color;
            }
        }
    }
    > .steps {
        display: flex;
        flex-direction: column;
        padding: 0 8vw;
        position: relative;

        > .short_arrow_container {
            position: relative;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 2rem;

            .short_down_arrow {
                position: relative;
                width: 6vw;
                right: 16vw;
            }
        }
        > .block {
            display: flex;
            flex-direction: column;
            background-color: $secondary_color;
            border-radius: 16px;
            padding: 2rem 4vw;

            > h5 {
                display: flex;
                align-self: flex-end;
                position: relative;
                width: 40vw;
            }
            > img {
                width: 40vw;
                margin-top: 1rem;
            }
            > .milestone {
                width: 100%;
            }
        }
        > h2 {
            font-style: normal;
            font-weight: 700;
            margin: 4rem 0;

            > g {
                background: -webkit-linear-gradient(45deg, $g-color1, $g-color2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        
    }
    > .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 8vw;

        > h2 {
            font-style: normal;
            font-weight: 700;
            margin: 4rem 0;

            > g {
                background: -webkit-linear-gradient(45deg, $g-color1, $g-color2);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            @media screen and (max-width: $desktop) {
                margin: 1rem 0;
            }
        }
        > h5 {
            text-align: center;
        }
        > img {
            margin: 2rem 0;
            width: 10vw;
        }
        > .register_button {
            background: $gradient_color;
            border-radius: 1rem;
            padding: 1.5rem 3rem;
            margin-bottom: 4rem;
            cursor: pointer;
            text-decoration: none;

            > h3 {
                font-weight: 700;
                color: white;
            }
        }
    }

    /* 
    
    > .register {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4rem 16vw;

        @media screen and (max-width: $mobile) {
            padding: 2rem 8vw;
        }

        > .border {
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 8px solid transparent;
            border-radius: 16px;
            width: 100%;
            background: linear-gradient(white, white) padding-box,
                $gradient_color border-box;
            padding: 3rem 0;
            text-align: center;

            @media screen and (max-width: $mobile) {
                padding: 2rem 0;
            }
            > h1 {
                margin: 0 1rem;
            }
            > h2 {
                margin: 1rem 1rem;
            }
            > h3 {
                font-weight: 400;
                margin: 0 1rem;
            }
        }
        > .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;
            left: 12vw;

            @media screen and (max-width: $mobile) {
                left: auto;
            }

            > img {
                width: 8vw;
                object-fit: contain;
                margin: 1rem 2vw;
            }
            > .caption {
                font-size: 3vw;
                font-style: normal;
                font-weight: 600;

                @media screen and (max-width: $mobile) {
                    display: none;
                }
            }
        }
        > .register_button {
            background: $gradient_color;
            border-radius: 1rem;
            padding: 1.5rem;
            margin-bottom: 4rem;
            cursor: pointer;
            text-decoration: none;

            > h3 {
                font-weight: 700;
                color: white;
            }
        }
    } */
}